.locs-container {
    background-color: var(--bg2);
    padding: 0.5em;
    padding-top: 0;
    min-height: 100vh;

    h3 {
        text-align: center;
        font-weight: 900;
        letter-spacing: 0.3px;
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* color: var(--color2); */
        background-color: var(--color2);
        width: max-content;
        margin: 1em auto;
        border-radius: 0.8em;
        padding: 2px 10px;

    }
}

.loc-list {
    /* text-align: center; */
    list-style: none;
    padding: 0;
}

.loc-list li {
    padding-bottom: 15px;
    /* border-bottom: 1px solid var(--color2); */
}

.stars {
    color: var(--color2);
}

.loc-list li {
    h4 {
        margin: 0.1em;

        span {
            margin-inline-end: 10px;
        }
    }

    .muted {
        font-size: 0.8rem;
        margin: 0;
    }

}

.loc-list li.active {
    color: var(--color3);
}

.loc-list li.active .muted {
    color: var(--color4);
}

.loc-btns {
    button {
        border-radius: 100vh;
        width: 1.8em;
        font-size: 0.9rem;
        margin: 0;
        padding: 0.4em;
    }

    text-align: end;
}

.map {
    width: 100%;
    height: 100vh;
}

.form-search {

    button {
        margin: 0;
    }

    input {
        line-height: 1.5em;
        font-size: 0.8rem;
    }

    display: block;
    text-align: end;
}

.btn-user-pos {
    background-color: var(--bg2);
    background-image: url(../../img/user-loc.png);
    background-size: cover;
    width: 2em;
    height: 2em;
}

.btn-user-pos:hover {
    background-color: whitesmoke;
}

.div-input-filter {
    margin: 0;

    .filter-by-txt {
        padding-top: 0.9em;
        margin-top: 0.4em;
    }
}

.loc-filter {
    background-color: var(--bg2-light);
    font-size: 0.9rem;
    padding-top: 1.1em;

    display: grid;
    place-items: center;
}

.loc-filter {

    div,
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* color: #2196f3; */
    }

    /* background-color: #2196f3; */

    input[type=text] {
        margin-bottom: .7em;
        margin-inline-start: 0;
        border-radius: 0.1em;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 55px;
        height: 2px;
        border-radius: 5px;
        vertical-align: middle;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background-color: var(--color2);
        border-radius: 50%;
        cursor: pointer;
    }

    select {
        border-radius: 1em;
    }

    input[type=checkbox] {
        vertical-align: middle;
    }

}

.pie {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* background-image: conic-gradient(orange 0%, orange 64%, blue 64%, blue 81%, black 81%, black 100%); */
}

.loc-stats-rate,
.loc-stats-updates {
    h4 {
        margin: 0;
    }

    .pie {
        margin-inline-start: 3em;
    }

    .legend {
        margin-inline-start: 8em;
    }
}

.loc-stats ul {
    list-style-type: none;
    /* display: inline-block; */
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.8rem;

}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    border-radius: 100vh;
    font-size: 0.8rem;
    margin-inline-end: 0.5em;
}

.form-search {
    button {
        font-size: 1rem;
        margin-inline: 7px;
    }
}