.locs-container {
    background-color: var(--bg2);
    padding: 0.5em;
    padding-top: 0;
    min-height: 100vh;

    h3 {
        text-align: center;
    }
}

.loc-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.loc-list li {
    padding-bottom: .2em;
    /* border-bottom: 1px solid #222; */
}

.loc-list li h4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

.loc-list li.active {
    color: var(--color3);
}

.loc-list li.active .muted {
    color: var(--color4);
}

.loc-btns {
    /* text-align: center; */
    button {
        border-radius: 100vh;
    }
}

.map {
    width: 100%;
    height: 100vh;
}

.form-search {
    display: block;
    text-align: end;
}

.btn-user-pos {
    background-color: var(--bg2);
    background-image: url(../../img/user-loc.png);
    background-size: cover;
    width: 2em;
    height: 2em;
}

.btn-user-pos:hover {
    background-color: whitesmoke;
}

.div-input-filter {
    margin: 0;
    /* padding-top: 0.9em; */

    .filter-by-txt {
        padding-top: 0.9em;
        margin-top: 0.4em;
    }
}

.loc-filter {
    padding-block: 0.4em;
    background-color: var(--bg2-light);

    display: flex;
    flex-direction: column;

    div,
    p {
        padding: 0.5em;
    }
}

.loc-filter input[type=text] {
    width: 98%;
    margin-bottom: .5em;
    margin-inline-start: 0;
    border-radius: 0.1em;
}

.pie {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* background-image: conic-gradient(orange 0%, orange 64%, blue 64%, blue 81%, black 81%, black 100%); */
}

.loc-stats-rate {

    .pie {
        margin-inline-start: 3em;
    }

    .legend {
        margin-inline-start: 8em;
    }
}

.loc-stats ul {
    list-style-type: none;
    /* display: inline-block; */
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.8rem;

}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    border-radius: 100vh;
    font-size: 0.8rem;
    margin-inline-end: 0.5em;
}