.selected-loc {
    background-color: var(--bg3);
    color: whitesmoke;
    max-height: 0em;
    height: 0;
    overflow: hidden;
    transition: .9s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* width: max-content; */
    width: 17vw;
    border-radius: 10vh;
    text-align: center;
    /* margin: 0.5em auto; */
    position: fixed;
    top: 10px;
    left: 30px;

    span:nth-child(2) {
        color: white;
        font-size: 0.8em;
    }

    h2 {
        margin: 0;
        /* padding-top: 0.3em;
        padding-inline: .5em; */
        padding: 0.5em;
        font-size: 0.9rem;
    }

    h4 {
        margin: 0;
        font-size: 0.8rem;
        /* font-weight: 100; */
    }

    button {
        text-align: center;
        font-size: 0.7rem;
        padding: 0.2em;
    }

    input {
        display: none;
    }
}

.selected-loc.show {
    height: auto;
    max-height: 8em;
}

.selected-loc input[name=loc-copier] {
    opacity: 0;
}

.loc-rate {
    color: var(--color4);
}