body {
    background-color: var(--bg2);
    color: #eee;
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--bg2);
    color: aliceblue;
    padding: 0.3em;
}

header h1 {
    margin: 0;
    text-align: center;
    padding-top: 0.5em;
}

input[type=text],
input[type=number] {
    line-height: 2em;
    border: 0;
    border-radius: 0.1em;
    font-size: 0.8rem;
    padding: 5px;
}

button {
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 100vh;
    /* background-color: inherit; */
    background-color: inherit;
    padding: 7px 7px;
    margin: 1px;
    cursor: pointer;
    transition: .6s;
}

button:hover {
    color: black;
    scale: 1.2;

    /* background-color: var(--bg2-light); */
    /* opacity: 0.6; */
}

.muted {
    font-size: .9em;
    color: var(--gray1);
}

.smaller {
    font-size: .8em;
}

dialog {
    background-color: pink;
    position: absolute;
    top: -20vh;
    padding: 1.5rem;
    border: 0;
    border-radius: 0.8em;
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}