/* :root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
} */

/* Another theme */
/* :root {
    --bg1: rgb(37, 13, 195);
    --bg2: rgb(26, 110, 146);
    --bg3: rgb(9, 49, 226);
    --bg4: rgb(89, 89, 89);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
    } */

body {
    --bg1: rgb(41, 209, 255);
    --bg2: rgb(207, 207, 207);
    --bg2-light: rgb(228, 228, 228);
    --bg3: rgb(76, 189, 255);
    --color1: rgb(100, 242, 255);
    --color2: rgb(75, 216, 229);
    --color3: rgb(255, 239, 148);
    --color-basic: rgb(27, 27, 27);
    --gray1: lightgray;
}

body.alt-theme {
    --bg1: rgb(119, 188, 188);
    --bg2: rgb(55, 55, 55);
    --bg2-light: rgb(69, 69, 69);
    --bg3: rgb(222, 168, 222);
    --color1: rgb(233, 169, 232);
    --color2: rgb(255, 186, 223);
    --color3: rgb(255, 239, 148);
    --color-basic: rgb(243, 243, 243);
    --gray1: lightgray;
}