/* :root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
} */

/* Another theme */
/* :root {
    --bg1: rgb(37, 13, 195);
    --bg2: rgb(26, 110, 146);
    --bg3: rgb(9, 49, 226);
    --bg4: rgb(89, 89, 89);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
    } */

:root {
    --bg1: rgb(121, 255, 255);
    --bg2: rgb(55, 55, 55);
    --bg2-light: rgb(69, 69, 69);
    --bg3: rgb(255, 162, 255);
    --color1: aliceblue;
    --color2: rgb(255, 180, 220);
    --color3: rgb(255, 239, 148);
    --color4: rgb(218, 196, 141);
    --gray1: lightgray;
}